::-webkit-scrollbar {
  width: 0%;
}

.App {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  display: table;
  margin: 0 auto;
  padding-top: 25px;
}

.App-logo {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  display: flex;
  position: sticky;
  top:0;
  left:0;
  width:100%;
  background: #eeeeee;
  color: #eeeeee;
  border-color: #eeeeee;
  padding-top: 0px;
  padding-bottom: 0px;
  pointer-events: bounding-box;
  cursor: pointer;
  z-index: 999;
}

.logo {
  max-height: 15vh;
}

.transition-enter {
  opacity: 0;
  width:10%;
}
.transition-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}
.transition-exit {
  opacity: 1;
}
.transition-exit-active {
  opacity: 0;
  transition: opacity 0ms linear;
}
